@tailwind base;
@tailwind components;
@tailwind utilities;

.nav_icon{
    animation: rotation 10s infinite linear;
    color:#3aafab;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  .nav_list{
    text-shadow:-1px 2px rgb(41 88 153);
    font-weight: 500;

  }
.overlay{
    text-shadow: -4px 4px rgb(41 88 153);
    text-align: center;
}
.overlay_subtext{
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow:-2px 1px rgb(41 88 153);
    font-style: italic;  
}
.footer{
    background: linear-gradient(50deg, rgba(0,111,134,1) 0%, rgba(19,234,192,0.7848389355742297) 100%);
}
.main-body{
  background: linear-gradient(50deg, rgba(0,111,134,1) 0%, rgba(19,234,192,0.7848389355742297) 100%); 
}